:root {
    --link-color: #542f0c;
    --main-color: #de8e37;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana;
}
/* 1°div */
.secao {
    width: 700px;
    margin: 20px auto;
    text-align: center;
}

.imagem-logotipo {
    width: 200px;
}

a {
    margin: 0 10px;
    color: var(--link-color);
}
/* //1°div */
/* 2°div */
h1 {
    font-size: 28px;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    border-top: 1px solid var(--main-color);
}

h2 {
    font-weight: normal;
    color: var(--main-color);
    margin-top: 10px;
}

.imagem-banner {
    width: 700px;
}
/* //2°div */
/* 3°div */
.secao-destaque {
    background-color: var(--main-color);
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.secao-destaque h3 {
    font-size: 24px;
}

.secao-destaque h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.secao-destaque p {
    width: 500px;
    margin: 10px auto;
    line-height: 30px;
}

.secao-destaque img {
    width: 400px;
}
/* //3°div */

